@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

.bckgrnd{
    background: url(https://images.unsplash.com/photo-1596613319421-bdac4bf6b8d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
    background-position: 0% 12%;
    background-size: cover;
}

.currentNavItem{
    border-bottom: 2px solid green;
    margin-left: 2rem;
    width: 100px;
    text-align: center;
    color: rgb(142, 142, 142);
}

.navItem{
    border-bottom: 1px solid grey;
    margin-left: 2rem;
    width: 100px;
    text-align: center;
    color: rgb(142, 142, 142);

}

.navItem:hover, .currentNavItem:hover{
    border-radius: 1.3rem;
    border: solid green;
    background-color: green;
    
    padding-top: .25rem;
    padding-bottom: .25rem;

    color: white;
}

.completed{
    background-color: rgb(30, 30, 30);
    color: lightgray;
    padding: 1rem;
}
