/* Your styles go here */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

.bckgrnd{
    background-color: rgb(17, 17, 17);
}

.currentNavItem{
    border-bottom: 2px solid green;
    margin-left: 2rem;
    width: 100px;
    text-align: center;
    color: rgb(142, 142, 142);
}

.navItem{
    border-bottom: 1px solid grey;
    margin-left: 2rem;
    width: 100px;
    text-align: center;
    color: rgb(142, 142, 142);

}

.navItem:hover, .currentNavItem:hover{
    border-radius: 1.3rem;
    border: solid green;
    background-color: green;
    
    padding-top: .25rem;
    padding-bottom: .25rem;

    color: white;
}

.jumbotron{
    background: url(https://images.unsplash.com/photo-1650230100890-0b2bd557677e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-position: 0% 45%;
    background-size: cover;
}

.jumbotron{
    background: url(https://images.unsplash.com/photo-1650230100890-0b2bd557677e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-position: 0% 45%;
    background-size: cover;
}

article{
    width: 100%;
    border-radius: .25rem;
    border: 5px solid whitesmoke;
}

article>div{
    background-color: gray;
}